Repository City-of-Helsinki/hel-fi-drupal-grants, pull requests merged in 2024-06, with the labels that each got.

#1248 fix: AU-2256: Edit kasko toiminta contents
  conf/cmi/language/sv/webform.webform.kasvatus_ja_koulutus_toiminta_av.yml
  conf/cmi/webform.webform.kasvatus_ja_koulutus_toiminta_av.yml
  public/modules/custom/grants_place_of_operation/translations/sv.po
Labels: Hakemuslomake

#637 Feature: AU-448 webform status
  composer.json
  composer.lock
  conf/cmi/core.extension.yml
  conf/cmi/user.role.admin.yml
  conf/cmi/user.role.grants_admin.yml
  conf/cmi/user.role.grants_producer.yml
  conf/cmi/webform.webform.asukasosallisuus_pienavustushake.yml
  conf/cmi/webform.webform.asukasosallisuus_yleis_ja_toimin.yml
  conf/cmi/webform.webform.hyte_yleisavustus.yml
  conf/cmi/webform.webform.kasko_ip_lisa.yml
  conf/cmi/webform.webform.kasvatus_ja_koulutus_toiminta_av.yml
  conf/cmi/webform.webform.kasvatus_ja_koulutus_yleisavustu.yml
  conf/cmi/webform.webform.kaupunginkanslia_tyollisyysavust.yml
  conf/cmi/webform.webform.kuva_projekti.yml
  conf/cmi/webform.webform.kuva_toiminta.yml
  conf/cmi/webform.webform.leiriselvitys.yml
  conf/cmi/webform.webform.liikunta_laitosavustushakemus.yml
  conf/cmi/webform.webform.liikunta_suunnistuskartta_avustu.yml
  conf/cmi/webform.webform.liikunta_tapahtuma.yml
  conf/cmi/webform.webform.liikunta_toiminta_ja_tilankaytto.yml
  conf/cmi/webform.webform.liikunta_yleisavustushakemus.yml
  conf/cmi/webform.webform.nuorisopalvelut_toiminta_ja_palk.yml
  conf/cmi/webform.webform.nuorisotoiminta_projektiavustush.yml
  conf/cmi/webform.webform.nuorlomaleir.yml
  conf/cmi/webform.webform.nuortoimpalkka.yml
  conf/cmi/webform.webform.performance_test_webform.yml
  conf/cmi/webform.webform.taide_ja_kulttuuri_kehittamisavu.yml
  conf/cmi/webform.webform.taide_ja_kulttuuriavustukset_tai.yml
  conf/cmi/webform.webform.yleisavustushakemus.yml
  conf/cmi/webform.webform.ymparistopalvelut_yleisavustus.yml
  public/modules/custom/grants_handler/drush.services.yml
  public/modules/custom/grants_handler/grants_handler.module
  public/modules/custom/grants_handler/src/ApplicationHandler.php
  public/modules/custom/grants_handler/src/Commands/UpdateCommands.php
  public/modules/custom/grants_handler/src/Form/CopyApplicationModalForm.php
  public/modules/custom/grants_handler/src/Plugin/WebformHandler/GrantsHandler.php
  public/modules/custom/grants_handler/templates/application-list-item.html.twig
  public/modules/custom/grants_handler/translations/fi.po
  public/modules/custom/grants_handler/translations/sv.po
  public/modules/custom/grants_industries/src/Routing/WebformRouteSubscriber.php
  public/modules/custom/grants_metadata/grants_metadata.module
  public/modules/custom/grants_metadata/translations/fi.po
Labels: BE

#1421 fix: AU-2443: make hero img not focusable
  public/themes/custom/hdbt_subtheme/dist/css/styles.min.css
  public/themes/custom/hdbt_subtheme/src/scss/components/paragraphs/_hero.scss
  public/themes/custom/hdbt_subtheme/templates/paragraph/paragraph--hero.html.twig
Labels: UI

#1434 feat: AU-2535, E2E: Confirm that the tests reach the correct profile form and bug fixing
  e2e/utils/data/application/application_data_48.ts
  e2e/utils/data/application/application_data_53.ts
  e2e/utils/data/application/application_data_62.ts
  e2e/utils/data/profile_data_private_person.ts
  e2e/utils/data/profile_data_registered_community.ts
  e2e/utils/data/profile_data_unregistered_community.ts
  e2e/utils/form_helpers.ts
  public/modules/custom/grants_place_of_operation/src/Plugin/WebformElement/PlaceOfOperationComposite.php
Labels: e2e

#1438 feat: AU-2533, E2E: Implemented the possibility to set timeouts for the waitForTextWithInterval function in the .env file.
  e2e/.env.example
  e2e/README.md
  e2e/playwright.config.ts
  e2e/utils/form_helpers.ts
  e2e/utils/helpers.ts
Labels: e2e

#1430 feat: AU-2216, E2E: Inline form error validation
  e2e/README.md
  e2e/utils/data/application/application_data_51.ts
  e2e/utils/data/application/application_data_62.ts
  e2e/utils/data/test_data.ts
  e2e/utils/error_validation_helpers.ts
  e2e/utils/form_helpers.ts
Labels: e2e
